<div ng-hide="currentImg">
  <h3>{{imgalbum.title}}</h3>
  <h4>{{imgalbum.desc}}</h4>
  <text ng-show="mode==='text'" ng-repeat="img in imgalbum.imgs" img="img"></text>
  <thumbnail ng-show="mode==='thumbnail'" ng-repeat="img in imgalbum.imgs" img="img" ng-click="showImage(img)"></thumbnail>
  <br>
  <label>List <input type="radio" name="mode" value="text" ng-model="mode" ng-change="changeView()"></label>
  <label>Thumbnail <input type="radio" name="mode" value="thumbnail" ng-model="mode" ng-change="changeView()"></label>
</div>
<full ng-show="currentImg" ng-repeat="img in imgalbum.imgs" img="img" current-img="currentImg" ng-click="closeImage()"></full>
