<div ng-init="mode = 'thumbnails'">
  <description-directive animal="animal" ng-hide="mode === 'thumbnails'"></description-directive>

  <div ng-repeat="image in images" ng-hide="showFull">
    <thumbnail-directive image="image" ng-click="toggleImage(image)" ng-hide="mode === 'descriptions'" ></thumbnail-directive>
  </div>

  <br/>

<div>
  <label>Descriptions<input type="radio" name="mode" value="descriptions" ng-model="mode" ng-change="changeView()"/></label>
  <label>Thumbnails<input type="radio" name="mode" value="thumbnails" ng-model="mode" ng-change="changeView()"/></label>
</div>

<div ng-repeat="image in images" ng-hide="showThumbnails">
  <full-directive ng-click="toggleImage(image)" image="image"></full-directive>
</div>
